body{
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-section{
  height: 500px;
}

.header-brand{
  width: 150px;
  height: 100px;
}

.about-us-banner{
  background-image: url("header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about-us-header{
  padding: 0 50px;
  margin: 50px 0;
}

.about-img-1, .about-img-2{
  width: 500px;
  height: auto;
  border: 10px solid white;
  box-shadow: 10px 10px 30px 0 lightgrey;
  /* right bottom blur spread*/
  align-items: center;
}

.about-img-1{
  margin-top: 50px;
  display: block;
}

.about-img-2{
  margin-top: 100px;
  display: block;
}

.about-us-header-logo{
  width: 200px;
}

/* About Pattayar section */
.about-pattayar-section{
  padding: 100px 0;
  background-color: brown;
  text-align: left;
  margin: auto;
  color: white;
}

.about-pattayar-img{
  background-image: url("PATTAYAR-New Dev copy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 200px;
}

.about-pattayar-text{
  padding: 0 100px 0 200px;
}

/* Mission vision values */

.mission-vision-cards{
  padding: 0 100px 0 200px;
}

.mission-vision-values{
  padding: 100px 0;
  padding-right: 200px;
  background-image: url(https://assets.airtel.in/static-assets/new-home/img/white-pattern.svg);
}

.card{
  box-shadow: 0 0 10px 0 lightgrey;
}

/* Growth journey */
.growth-journey{
  height: 400px;
  background-color: green;
  padding: 100px 0;
}

/* The team */
.the-team{
  background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 200px;
}

.the-team h1{
  color: white;
}

.team-1{
  background-image: url("https://images.unsplash.com/photo-1600275669283-4bf2bb8a990c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.team-2{
  background-image: url("https://images.unsplash.com/photo-1514222788835-3a1a1d5b32f8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzZ8fHByb2Zlc3Npb25hbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.team-3{
  background-image: url("https://images.unsplash.com/photo-1555421689-43cad7100750?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.team-4{
  background-image: url("https://images.unsplash.com/flagged/photo-1555728750-55f4db213833?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=623&q=80");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.team-5{
  background-image: url("https://images.unsplash.com/photo-1508835277982-1c1b0e205603?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTh8fHByb2Zlc3Npb25hbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}
